:root {
    --backgdivnome:  aqua;
    --corbranco: white;
    --fontsize: 30px;
    --fontsizebotao: 35px;
    --backgbotao: rgb(128, 128, 128);
    --backgbotaohover: rgba(0, 255, 0, 0.652);
    --boxshaw: 3px 3px 3px rgba(0, 0, 0, 0.537);
}

* {
    max-width: 100%;
    max-height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0px;
}

body {
    background-color: var(--backgbody);
} 

h1 {
    font-size: 50px;
    text-align: center;
    padding-bottom: 20px;
}

.divnome {
    max-width: 90%;
    min-width: 70%;
    padding: 10px;
    padding-bottom: 10%;
    margin: auto;
    border-radius:  15px;
    box-shadow: var(--boxshaw);
    background-color: var(--backgdivnome);
}

#nome {
    text-align: center;
    font-size: var(--fontsize);
    margin: 5px;
}

#opcao {
    padding: 10px 10px;
    font-size: 20px;
    border-radius: 5px;
    border-radius: 15px;
    box-shadow: var(--boxshaw);
}

.botao {
    display: block;
    margin: auto;
    background-color: var(--backgbotao);
    font-size: var(--fontsizebotao);
    padding: 25px 35px;
    margin-top: 80px; 
    border-radius: 35px;
    border: none;
    color: var(--corbranco);
    box-shadow: var(--boxshaw);
}

.botao:hover {
    background-color: var(--backgbotaohover);
}