<!DOCTYPE html>
<html lang="pt-br">
<head>
    <link rel="stylesheet" href="{{ url_for('static', filename='resultcpf.css') }}">
    <title>Painel Patocksx</title>
</head>
<body>
    <div class="container">
        <h1>Resultado da Pesquisa</h1>
        <hr>

        <h1>INFORMAÇÕES GERAIS</h1>
        {% for item in dados %}
            <p>Nome: {{ item['nome'] }}</p>
            <p>Cpf: {{ item['cpf'] }}</p>
            <p>Data de Nascimento: {{ item['dataNascimento'] }}</p>
            <p>Data de Óbito: {{ item['dataObito'] }}</p>
            <p>Registro Geral: {{ item['rgNumero'] }}</p>
            <p>Rg Emissor Orgao: {{ item['rgEmissorOrgao'] }}</p>
            <p>Rg Emissor Uf: {{ item['rgEmissorUf'] }}</p>
            <p>Titulo Eleitor: {{ item['tituloEleitor'] }}</p>
            <p>PisNis: {{ item['pisNis'] }}</p>
            <p>Nome da Mãe: {{ item['nomeMae'] }}</p>
            <p>Nome do Pai: {{ item['nomePai'] }}</p>
            <p>Sexo: {{ item['sexo'] }}</p>
            <p>Estado Civil: {{ item['estadoCivil'] }}</p>
            <p>Naturalidade: {{ item['naturalidade'] }}</p>
            <p>Nacionalidade: {{ item['nacionalidade'] }}</p>
            <p>Escolaridade: {{ item['escolaridade'] }}</p>
            <p>Ocupação: {{ item['ocupacao'] }}</p>
            <p>Renda Aproximada: {{ item['renda'] }}</p>
            <p>Poder Aquisitivo: {{ item['poderAquisitivo'] }}</p>
            <p>Classe Social: {{ item['classeSocial'] }}</p>
            <p>Sub Classe Social: {{ item['subClasseSocial'] }}</p>
            <p>Situação Rf: {{ item['situacaoRf'] }}</p>
        {% endfor %}

        <h1>INFORMAÇÕES ADICIONAIS</h1>

        <h3>Familiares:</h3>
        {% for item in dados %}
            {% for familiar in item['familiares'] %}
                <div class="item">
                    <p>Nome: {{ familiar['nome'] }}, 
                        Cpf: {{ familiar['cpf'] }}, 
                        Vinculo: {{ familiar['vinculo'] }} </p>
                </div>
            {% endfor %}
        {% endfor %}

        <h3>Empresas:</h3>
        {% for item in dados %}
            {% for empresa in item['empresas'] %}
                <div class="item">
                    <p>Nome: {{ empresa['nome'] }}, 
                        Cnpj: {{ empresa['cnpj'] }} </p>
                </div>
            {% endfor %}
        {% endfor %}
            
        <h3>Endereços</h3>
        {% for item in dados %}
            {% for endereco in item['enderecos'] %}
                <p>Endereço: {{ endereco['endereco'] }}, N{{ endereco['numero'] }}, 
                    Bairro: {{ endereco['bairro'] }}, 
                    Cidade: {{ endereco['cidade'] }} - {{ endereco['estadoUF'] }},
                    Cep: {{ endereco['cep'] }} <hr></p>
            {% endfor %}
        {% endfor %}

        <h3>Emails:</h3>
        {% for item in dados %}
            {% for email in item['emails'] %}
                <div class="item">
                    <p>Email: {{ email['email'] }}, 
                        Status: {{ email['status'] }}, 
                        Uso Pessoal:  {{ email['usoPessoal'] }}, 
                        Score: {{ email['score'] }} </p>
                </div>
            {% endfor %}
        {% endfor %}

        <h3>Telefones:</h3>
        {% for item in dados %}
            {% for telefone in item['telefones'] %}
                <div class="item">
                    <p>Telefone: ({{ telefone['ddd'] }}) {{ telefone['numero'] }}</p>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</body>
</html>