*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
/*
.navbar {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.menu-icon {
    display: block; 
    cursor: pointer; 
}

.mbar {
    width: 50px; 
    height: 7px; 
    background-color: #000;
    margin: 6px 0; 
}

.logo {
    height: 120px;
    border-radius: 50%;
}*/


header {
    background-color: #333; /* Cor de fundo do cabeçalho */
    padding: 10px; /* Espaçamento interno */
}

.navbar {
    display: flex; /* Utiliza flexbox para alinhar os itens */
    align-items: center; /* Centraliza verticalmente os itens */
    justify-content: space-between; /* Distribui os itens ao longo do eixo horizontal */
}

.menu-icon {
    display: flex; /* Utiliza flexbox para alinhar as barrinhas */
    flex-direction: column; /* Empilha as barrinhas verticalmente */
    cursor: pointer; /* Adiciona cursor indicando interatividade */
}

.mbar {
    width: 25px; /* Largura das barrinhas */
    height: 3px; /* Altura das barrinhas */
    background-color: #fff; /* Cor das barrinhas */
    margin: 4px 0; /* Espaçamento entre as barrinhas */
}

.logo {
    width: 100px; /* Largura da logo */
    margin: 0 15px; /* Espaçamento entre a logo e os outros itens */
}

.perfil {
    width: 40px; /* Largura da imagem de perfil */
    height: 40px; /* Altura da imagem de perfil */
    border-radius: 50%; /* Transforma em um círculo */
    overflow: hidden; /* Garante que a imagem fique dentro do círculo */
}

.perfil img {
    width: 100%; /* Garante que a imagem ocupe todo o espaço disponível */
    height: 100%; /* Garante que a imagem ocupe todo o espaço disponível */
    object-fit: cover; /* Ajusta a imagem para cobrir todo o círculo */
}
