:root {
    --corbranco: white;
    --fontsize20px: 25px;
}

* {
    font-family: Arial, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
}

body, html {
    min-height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.navbar {
    background-color: #f8f9fa;
    padding: 5px 0;
}

.navbar > img {
    width: 250px;
    display: block;
    margin: auto;
}

.main {
    width: 90%;
    margin: 20px auto;
    background-color: antiquewhite;
}

.card {
    background-color: blue;
    display: inline-block;
    width: 45%;
    margin-bottom: 20px;
    color: white;
    padding: 10px;
}

.card h2 {}

.card p {}

.card button {
    margin-top: 15px;
    padding: 5px 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

footer {
    background-color: #757575;
    padding: 15px 0;
    width: 100%;
    margin-top: auto;
    text-align: center;
    font-size: var(--fontsize20px);
    color: var(--corbranco);
}