* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: red;
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    background-color: var(--corazulclaro);
    padding: 12px 0;
}

.logo {
    width: 235px;
    display: block;
    margin: auto;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--corcinzar);
    padding: 15px;
}

.card {
    width: calc(100% - 20px);
    max-width: 400px;
    min-height: 635px;
    background-color: aliceblue;
    margin: 10px;
    padding: 10px;
    border-radius: 12px;
    position: relative; /* Adicionado */
}

@media (max-width: 767px) {
    .card {
        width: calc(100% - 20px);
        max-width: 100%;
        min-height: 635px;
        margin: 10px;
        padding: 10px;
        border-radius: 12px;
    }
}

@media (min-width: 768px) and (max-width: 1199px) {
    .card {
        width: calc(50% - 20px);
        max-width: none;
        min-height: 635px;
        margin: 10px;
        padding: 10px;
        border-radius: 12px;
    }
}

@media (min-width: 1200px) {
    .card {
        width: calc(33.33% - 20px);
        max-width: none;
        min-height: 635px;
        margin: 10px;
        padding: 10px;
        border-radius: 12px;
    }
}

.capa {
    width: 100%;
    height: 210px;
    margin-bottom: 15px;
    border-radius: 10px;
    box-shadow: 2px 3px 2px rgba(141, 141, 141, 0.705);
}

.card > h2 {
    margin-bottom: 10px;
    font-size: 35px;
    text-align: center;
}

.card > p {
    font-size: 20px;
    margin-bottom: 10px;
    text-align: justify;
}

.button-container {
    text-align: center;
    position: absolute; /* Alterado */
    bottom: 20px; /* Adicionado */
    left: 50%;
    transform: translateX(-50%);
    margin-top: auto;
}

button {
    padding: 15px 25px;
    border-radius: 100px;
    font-size: 20px;
    background-color: rgb(5, 143, 255);
    border: none;
    color: white;
    box-shadow: 2px 3px 2px rgba(141, 141, 141, 0.705);
}

button:hover {
    background-color: rgba(0, 140, 255, 0.459);
}

footer {
    background-color: rgb(101, 101, 101);
    padding: 20px 0;
    text-align: center;
    font-size: 35px;
    color: var(--corbranco);
    margin-top: auto;
}