* {
    font-family: Arial, Helvetica, sans-serif;
    max-width: 100%;
    max-height: 100%;
    margin: 0%;
    padding: 0%;
} 

body {
    background-color: rgba(223, 223, 223, 0.642);
    
    footer {
        background-color: rgb(196, 196, 196);
        text-align: center;
        padding: 2% 0;
    }
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1%;
    background-color: rgb(196, 196, 196);

    img {
        width: 12%;
        height: auto;
        vertical-align: middle;
        margin-left: 10%;
        margin-top: 0px;
    }

    ul {
        display: flex;
        align-items: center;
        margin-right: 10%;

        li {
            display: inline-block;
            padding: 1%;

            a {
                text-decoration: none;
            }

            input[type="search"] {
                padding: 8px 30px 8px 10px;
                border: 1px solid #ccc;
                border-radius: 5px;
                outline: none;
                background-color: #f0f0f0;
                transition: background-color 0.3s;
            }

            input[type="search"]:focus {
                background-color: #fff;
            }

            .search-container {
                position: relative;
            }

            .search-icon {
                position: absolute;
                top: 50%;
                right: 10px;
                transform: translateY(-50%);
                color: blue; /* cor azul */
                cursor: pointer;
            }
        }
    }
}

main {
    text-align: center;
    background-color:  rgba(223, 223, 223, 0.642);

    div {
        margin: 2.5% 2.5%;
        text-align: center;
        display: inline-block;
        padding: 35px;
        background-color: rgb(255, 255, 255);

        p {
            margin: 5% 0;
            font-size: 20px;
            padding-bottom: 50%;
        }

        input[type="submit"] {
            background-color: rgba(194, 194, 194, 0.61);
            border: none;
            padding: 5% 10%;
            font-size: 25px;
            margin-top: 30%;
        }
    }
}






















.navbar ul {
    display: inline-block; /* Alterado para inline-block */
    align-items: center;
    margin-left: 55%;

    /* Adicionado */
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    display: inline-block; /* Adicionado */
    padding: 1%;
    font-size: 12px;

    & a {
        text-decoration: none;
    }

    input[type="search"] {
        padding: 8px 30px 8px 10px;
        border: 1px solid #ccc;
        border-radius: 5px;
        outline: none;
        background-color: #f0f0f0;
        transition: background-color 0.3s;
    }

    input[type="search"]:focus {
        background-color: #fff;
    }

    .search-container {
        position: relative;
    }

    .search-icon {
        position: absolute;
        top: 50%;
        right: 10px;
        transform: translateY(-50%);
        color: blue; /* cor azul */
    }
}